<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{ selectedContact.photo }}" />
    <mat-card-title
      >{{ selectedContact.name }} {{ selectedContact.surname }}</mat-card-title
    >
    <mat-card-subtitle>{{ selectedContact.company }}</mat-card-subtitle>




    <button class="button-more-vert" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>


    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editContact()">
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </button>

      <button mat-menu-item (click)="deleteContact()">
        <mat-icon>delete</mat-icon>
        <span>Excluir</span>
      </button>
      
    </mat-menu>


  </mat-card-header>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-icon matListItemIcon>person</mat-icon>
        {{ selectedContact.name }} {{ selectedContact.surname }}
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon matListItemIcon>phone</mat-icon>
        {{ selectedContact.phone }}
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon matListItemIcon>email</mat-icon>
        {{ selectedContact.email }}
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon matListItemIcon>business</mat-icon>
        {{ selectedContact.company }}
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="onCancel()">
      <mat-icon>navigate_before</mat-icon>
      Voltar
    </button>
    
    <button mat-raised-button (click)="editContact()">
      <mat-icon>edit</mat-icon>
      Editar
    </button>
  </mat-card-actions>
</mat-card>

