//MAT-CARD
mat-card {
  border-radius: 10px;
  background-color: var(--surface);
  max-width: 600px;
}

mat-card-content {
  padding-top: 10px;
  background-color: var(--surface);
}

mat-card-subtitle {
  text-align: left;
  color: var(--color-text-gray);
}

mat-card-title {
  text-align: left;
  color: var(--color-text-black);
  margin-top: 15px;
}

mat-card-header {
  padding-left: 60px;
  padding-right: 60px;
  justify-content: space-between;
}



// MAT-LIST
mat-list {
  text-align: left;
}

//texto da lista
:host ::ng-deep .mdc-list-item__primary-text {
    color: var(--color-text-black);
}

//Icones da lista
.mdc-list-item--with-leading-icon .mdc-list-item__start {
  color: var(--color-text-black);
}

// Hover ao passar o mouse sobre os itens da lista
:host ::ng-deep .mdc-list-item:hover .mdc-list-item__primary-text {
  color: var(--color-text-black);
}

//TAMANHO DA IMAGEM
img {
  width: 80px;
  height: 80px;
}

//ZOOM NA IMAGEM AO PASSAR O MOUSE SOBRE ELA
img {
	max-width: 100%;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

img:hover {
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
	transform: scale(2);
}


//BOTÃO MENU NO CARD-HEADER
.button-more-vert {
  color: var(--color-text-black);
  cursor: pointer;
}


