.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: var(--color-text-gray);
}


.mat-mdc-table tbody,
.mat-mdc-table tfoot,
.mat-mdc-table thead,
.mat-mdc-cell,
.mat-mdc-footer-cell,
.mat-mdc-header-row,
.mat-mdc-row,
.mat-mdc-footer-row,
.mat-mdc-table .mat-mdc-header-cell {
  background: var(--surface);
  color: var(--color-text-black);
}

//Centralizar div na tela
.container {
  width: 90%;
  margin: 2em auto;
  text-align: center;
}


.loading-spinner {
  padding: 25px;
  background-color: var(--background);
  display: flex;
  text-align: center;
  justify-content: center;
}

//BOTÕES
//BOTÃO BACKGROUND
.mat-mdc-raised-button.mat-unthemed {
  --mdc-protected-button-container-color: var(--accent);
  --mdc-protected-button-label-text-color: #fff;

  border-radius: 10px;
  height: 50px;
  width: 180px;
  margin-top: 50px;
}

.mat-mdc-raised-button.mat-unthemed:hover {
  transform: scale(1.1);
}

div {
  padding: 50px;
}

