<mat-card>
  <mat-card-header>
    <input
      type="file"
      class="file-input"
      accept="image/*"
      (change)="onFileSelected($event)"
      #fileUpload
    />
    <img
      mat-card-avatar
      src="{{ selectedContact.photo }}"
      [src]="imageURL"
      (click)="fileUpload.click()"
    />
    <mat-card-title
      >{{ selectedContact.name }} {{ selectedContact.surname }}</mat-card-title
    >
    <mat-card-subtitle>{{ selectedContact.company }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="selectedContact.name" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Sobrenome</mat-label>
      <input matInput [(ngModel)]="selectedContact.surname" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Telefone</mat-label>
      <input matInput [(ngModel)]="selectedContact.phone" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>E-mail</mat-label>
      <input matInput [(ngModel)]="selectedContact.email" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Empresa</mat-label>
      <input matInput [(ngModel)]="selectedContact.company" />
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="onCancel()">
      <mat-icon>navigate_before</mat-icon>
      Voltar
    </button>

    <button mat-raised-button (click)="update()">
      <mat-icon>save</mat-icon>
      Salvar
    </button>
  </mat-card-actions>
</mat-card>
